.QuoteDetails {
	padding: 10px;
}

.QuoteDetails p {
	margin: 10px;
}

.HeavyText {
	font-weight: 500;
}

.TravelDetailsItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.NoSelectedQuoteText {
	color: rgb(182, 182, 182);
}

.NoSelectedQuote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.QuoteDetailsIcon {
	color: rgb(216, 216, 216);
}

.NoSelectedQuote .QuoteDetailsIcon {
	font-size: 60pt !important;
}

